<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite" verbose="10">
  <test name="Zenfone8">
  	<listeners>
	<listener class-name="com.qa.listeners.TestListener"/>
	</listeners>
	    <classes>
	      <parameter name="emulator" value="false"/>
	      <parameter name="platformName" value="Android"/>
	   	  <parameter name="deviceName" value="ZenFone 8"/>
	   	  <parameter name="udid" value="M5AIB760J829M75"/>
	   	  <parameter name="systemPort" value="10000"/>
	   	  <parameter name="chromeDriverPort" value="11000"/>
	   	  <class name="com.qa.tests.FoodCheckoutTest"/>
	    </classes> 
  </test> <!-- Test -->
</suite> <!-- Suite -->
